{% extends "base.html" %}

{% block content %}
<p style="margin:0 0 16px; color:#334155; font-size:16px; line-height:1.7;">
  Hi{% if user.username %} {{ user.username }}{% endif %},
</p>
<p style="margin:0 0 24px; color:#334155; font-size:16px; line-height:1.7;">
  {{ data.intro_text }}
</p>
<p style="margin:0 0 24px;">
  {% with url=links.action_url, label=data.action_label %}
  {% include "_partials/button.html" %}
  {% endwith %}
</p>
<p style="margin:0 0 12px; color:#475569; font-size:14px; line-height:1.7;">
  If the button does not work, use this link:
</p>
<p style="margin:0 0 16px; font-size:14px; word-break:break-word;">
  <a href="{{ links.action_url }}" style="color:{{ theme.primary_color }};">{{ links.action_url }}</a>
</p>
<p style="margin:0; color:#475569; font-size:14px; line-height:1.7;">
  {{ data.expiry_text }}
</p>
<p style="margin:12px 0 0; color:#475569; font-size:14px; line-height:1.7;">
  {{ data.ignore_text }}
</p>
{% include "_partials/footer.html" %}
{% endblock %}
